
      <!DOCTYPE html>
      <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
      <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
      <head>
        <meta charset="utf-8" />

        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width" />

        <title>About Me</title>

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/foundation.css">

        <script src="js/vendor/custom.modernizr.js"></script>

      </head>
      <body>

       

        <!-- First Band (Image) -->

        <div class="row">
          <div class="large-12 columns">
            <img src="http://placehold.it/1000x400&text=Prasanna Reddy">

            <hr>
          </div>
        </div>
        <!-- Second Band (Image Left with Text) -->

        <div class="row">
          <div class="large-4 columns">
            <img src="http://placehold.it/400x300&text=Education">
          </div>
          
          <div class="large-8 columns">
            <h4>Academics</h4><hr>
<i class="foundicon-[heart]"></i>            <ul class="pricing-table">
        <li class="title">M.Tech - Computer Science & Engineering</li>
        <li class="price">B-Tech  -Computer Science & Engineering</li>
        <li class="price">IPE - MPC(Maths,Physics,chemistry)</li>
        <hr>
              <h4 class="price panel alert-box"> <kbd>Technology</kbd> + <kbd>Stack</kbd></h4>

        <li class="price">Relational Databases <hr>
          Sqlite3+POSTGRESQL+Mysql+Oracle</li><br>
        <li class="price">Programing Languages<hr> 
            Java,Ruby,Python,C,C++,Perl,Apple Script
          </li>
        <li class="bullet-item">Sun Ceritified Java Profesional</li>
        <li class="cta-button"><a class="button" href="mailto:prasannareddy1231@gmail.com">Hire Me</a></li>
      </ul>
            <div class="">
              <div class="large-6 columns"> Loading . . <hr>
                <div class="progress large-6 success round"><span class="meter" style="width: 45%"></span></div>
      </div></p>
              </div>
             

             
            </div>
          </div>
        </div>
      <hr>
        <!-- Third Band (Image Right with Text) -->
      <div class="flex-video">
        <iframe width="420" height="315" src="http://www.youtube.com/embed/oVO269flcjE" frameborder="0" allowfullscreen></iframe>
      </div>


        <!-- Footer -->

       

        <script>
        document.write('<script src=js/vendor/' +
        ('__proto__' in {} ? 'zepto' : 'jquery') +
        '.js><\/script>')
        </script>
        <script src="js/foundation.min.js"></script>
        <script>
          $(document).foundation();
        </script>

      </body>
      </html>