

      <div class="slideshow-wrapper">
        <div class="preloader"></div>
        <ul data-orbit style="margin-left:90px;padding:15px">
          <!-- Orbit slides -->


        <li>
          <img src="http://placehold.it/1024x300&text=My Blog" />
          <div class="orbit-caption">Check out My Blog</div>
        </li>
        <li>
          <img src="http://placehold.it/1024x300&text=@Prasanna Reddy" />
          <div class="orbit-caption">Prasanna Reddy -- Open Source Hacker</div>
        </li>
        <li>
          <img src="http://placehold.it/1024x300&text=Contact Me" />
          <div class="orbit-caption">I live in Pool of Bugs to help others.</div>
        </li>
      </ul>

      </div>